header {
    padding: 10px;
}

nav {
    background-color: green;
    padding: 0.3%;
}


nav ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav ul li {
    font-size: 2em;
}

.container {
    display: flex;
}

section {
    width: 80%;
    height: 80%;
}

aside {
    width: 20%;
    height: 20%;
}
