body {
  background-image: url("/Curso - DevWeb/Aula CSS/projeto-form/img/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  margin-top: 10%;
  margin-right: 40%;
  position: relative;
  border-radius: 4%;
  background-color: rgb(255, 255, 255, 0.3);

}

#foto-perfil {
  position: absolute;
}
