/* Formatação geral */

body {
  background: #f4f2ec url(../projeto-museu/img/fundo.png) repeat-x;
  font: 12px "Lucinda Grande", Arial, sans-serif;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

a:link,
a:active,
a:visited {
  color: #af670a;
  text-decoration: none;
}

a:hover {
  color: #227115;
}

/* Formatação geral */

/* Cabeçalho */

#logo a {
  width: 248px;
  height: 21px;
  text-indent: -9999px;
  display: block;
  background: url(../projeto-museu/img/logo.png);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 0;
  height: 55px;
}

/* Cabeçalho */

/* Menu de navegação*/

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-transform: uppercase;
}

header nav ul li a:hover {
  border-bottom: 1px solid #535858;
}

/* Menu de navegação*/

/* Conteúdos principais */

.principal {
  display: flex;
  gap: 20px;
}

.conteudo {
  display: flex;
  width: 710px;
  flex-direction: column;
}

.postagens {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.postagens * {
  flex-basis: 340px;
}

.postagens li {
  color: #af670a;
}

/* Conteúdos principais */

/* Menu lateral */

aside {
  width: 350px;
}

section#visita {
  margin-top: 20px;
  background-color: #cdc8b1;
  padding: 2px 10px;
}

section h4 {
  color: #86521a;
  text-transform: uppercase;
}

fieldset * {
  margin-top: 10px;
}

.botao {
  width: 100%;
  background-color: #9b9271;
  color: white;
  height: 40px;
  font-size: 1.2em;
  border: none;
}

section#galeria-fotos {
  background-color: #ececec;
  padding: 15px;
}

section#galeria-fotos a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section#galeria-fotos a img {
  display: block;
  padding: 20px;
  background: url(../projeto-museu/img/fundo-foto.png);
}

/* Menu lateral */

/* Rodapé */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 30px;
}

footer ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 20px;
}

/* Rodapé */