body * {
  border: 1px solid red;
}



#navbar {
  display: flex;
  list-style: none;
}

#navbar li {
  background-color: rgb(255, 123, 0);
  padding: 12px 30px;
  border-radius: 10px 10px 0 0;
}

#navbar li.selecionado {
  background-color: rgb(255, 174, 0);
}

#navbar li a {
  text-decoration: none;
  color: white;
}

#navbar li a:hover {
  color: black;
}


