/* 
***Formatações em geral***
*/

h1{
    color: #4e4e4e;
    font-size: 3em;
}

h2{
    color: #f7b600;
}

.branco{
    color:white;
}

.data-postagem{
    font-size: 0.8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(241, 238, 238);
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}


/* 
***Layout***
*/

#area-cabecalho{
    background-color: #f7b600;
    text-align: center;
}

#area-menu{
    padding: 20px;
}

#area-principal{
    width: 920px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

#area-postagens{
    width: 660px;
}

#area-lateral{
    margin-top: 20px;
    background-color: white;
    width: 240px;
}

#rodape{
    width: 920px;
    margin: 0 auto;
    background-color: gray;
    text-align: center;
    padding: 20px 0;
}

/* 
***Formatações da postagem***
*/


.postagem{
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.postagem *{
    width: 100%;
}

.cabecalho{
    margin-bottom: 10px;
}

/* 
***Formatações do menu***
*/

 #area-menu a{
    text-decoration: none;
}

 #area-menu a:link, #area-menu a:visited{
    color: #FFF;
    padding: 10px 14px;
}

 #area-menu a:hover{
    color: #f7b600;
    background-color: #FFF;
}