.container {
  display: flex;
  height: 400px;
  justify-content: space-around;
  align-items: flex-start;
}

.item {
  background-color: gray;
  margin: 10px; 
  width: 200px;
  height: 200px;
}

.item1 {
  flex-grow: 1;
}

.item2 {
  flex-grow: 2;
}
