* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(./img/fundo.png);
  background-repeat: repeat-x;
}

.container {
  width: 750px;
  margin: 0 auto;
}

.navbar {
  height: 150px;
  border: 1px solid red;
  background-image: url(./img/detalhe-topo.png);
  background-repeat: no-repeat;
  background-position: right;
}
