* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 40px;
  max-width: 1000px;
}

.cabecalho {
  text-align: center;
  padding: 38px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(139, 138, 138);
}

.conteudo {
  display: flex;
}

#navbar {
  background-color: rgb(207, 205, 205);
  padding: 80px;
  list-style: none;
}

.post{
  margin-top: 10px;
}


.lateral-direita{
  background-color: rgb(207, 205, 205);
  width: 1200px;
  padding: 10px;
}

.centro{
  padding: 20px;
}

.rodape{
  background-color: gray;
}
